{% extends 'main.html' %}
{% load url from future %}

{% block title %} {{ post.title }} {% endblock %}

{% if post.has_code %}
	{% block include %} {# <head></head> arasına gidiyor. #}
		<link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" type="text/css" rel="stylesheet" />
		<script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
		<script>
			prettyPrint();
		</script>
	{% endblock %}
{% endif %}

{% block content %}
<h1>{{ post.title }} - <a href="{% url 'show_profile' post.sender.username %}">{{ post.sender.username }}</a></h1>

<div>
  {% autoescape off %} {# düz html kodları kullanılabilecek. #}
  	{{ post.content }}
  {% endautoescape %}
</div>

Etiketler:
<ul>
{% for tag in post.tags.all %}
	<li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}
