{% extends 'main.html' %}


{% block title %} {{ user.username }} {% endblock %}

{% block content %}
	<h3>{{ user.username }}</h3>
	<div>
		<table>
			<tr>
				<td>
					Resim
				</td>
				<td>
					<img src="{{ user.get_profile.image_url }}" />
				</td>
			</tr>
			<tr>
				<td>
					Web adresi
				</td>
				<td>
					<a href="{{ user.get_profile.web }}" target=_blank>{{ user.get_profile.web }}</a>
				</td>
			</tr>
			<tr>
				<td>
					Kısa Açıklama
				</td>
				<td>
					{{ user.get_profile.bio }}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
