/* 
	project: Internet Jobs Template
	author: Luka Cvrk (www.solucija.com)
	Stylesheet
*/


body {
	background: #EEEEEE url(/static/img/header.gif) repeat-x top left;
	color: #333333;
	margin: 0;
	padding: 0;
	font: 0.9em helvetica,arial,sans-serif;
}

a { 
	color: #3C6491;
	background-color: inherit;
}

a:hover {
	color: #BF3E17;
	background-color: inherit;
}

h1 {
	font: 160% Arial, Sans-Serif;
	font-weight: bold;
	padding: 3px 0 0 0;
	margin: 0;
}

h1 a {
	color: #BF3E17;
	background: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #3C6491;
	background: inherit;
	text-decoration: none;
}

h2 {
	margin: 8px 0 5px 0;
	padding-left: 100px;
	font-size: 130%;
	letter-spacing: -1px;
	color: #808080;
	background-color: inherit;
}

#resim {
    float: left;
    position: relative;
    width: 120px;
    			padding: 10px 0px 2px 5px;
    	
}

#icerik{
		padding: 0px 0px 12px 65px;
	border-bottom: 2px solid #e1e1e1;	
			color: #333333; 
				font: 0.975em helvetica,arial,sans-serif;
	}

h2 a {
	color: #000000;
	text-decoration: none;
	background-color: inherit;
	background-image: url(/static/img/h2bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	
	padding: 0 0 0 20px;
}

h2 a:hover {
	background: url(/static/img/h2bghover.gif) no-repeat center left;
}

p {

}

img {
	border: 0;
}

#header {
	clear: both;
	width: 800px;
	height: 95px;
	margin: 0 auto;
}

#logo {
	float: left;
	padding: 10px 0 0 0px;
	color: #000000;
	background: inherit;
	width: 700px;
}

.slogan {
	float: right;
	border-left: 3px solid #CCCCCC;
	padding: 0 0 0 20px;
}

#hmenu {
	padding: 13px 0 25px 0;
	float: left;
}

#hmenu a {
	padding: 12px 13px 2px 11px;
	text-decoration: none;
	color: #3F86C2;
	background: #ccc url(/static/img/hmenuarrow.gif) no-repeat top center;
	margin: 0 0 3px 1px;
	border-bottom: 4px solid #BCBCBC;
}

#hmenu a:hover {
	background: #3C6491 url(/static/img/hmenuarrowhover.gif) no-repeat top center;
	color: #FFFFFF;
	border-bottom: 4px solid #3F86FF;
}

.content {
	border-top: 1px solid #FEFEFE; 
	background: #FFFFFF url(/static/img/contentbg.gif) repeat-x left top;
	color: #000000;
}


#left {
	float: left;
	width: 170px;
}

#leftmenu {
	margin: 0;
	padding: 0;
}

#leftmenu a {
	display: block;
	background: #3F86C2 url(/static/img/vmenuarrow_1.gif) no-repeat center left;
	color: #FFFFFF;
	padding: 5px 0 5px 19px;
	margin: 0 0 1px 0;
	text-decoration: none;
}

#leftmenu a:hover {
	color: #FFFFFF;
	background: #FFD241 url(/static/img/vmenuarrowhover_1.gif) no-repeat center left;
}

.leftarticle {
	background: #EEEEEE;
	color: #3F86C2;
	margin: 2px 0 2px 0;
	padding: 8px;
	line-height: 1.4em;
}

.leftarticle_ad {
	font: 140% Arial, Sans-Serif;
	font-weight: bold;
	border: 2px solid #EEEEEE;
	color: #808080;
	margin: 2px 0 2px 0;
	padding: 17px;
	width: 182px;
	height: 17px;
	background: #FFFFFF url(/static/img/seoad.jpg) no-repeat;
}

.leftarticle_ad a {
	background: transparent; 
	text-decoration: none;
}

#right {
	float: right;
	width: 660px;
	padding: 0 6px 0 10px;
}

#articles {
	width: 850px;
	padding: 3px 0 0 0;
	margin: 0 auto 10px auto;
}

#additional {
	clear: both;
	width: 730px;
	background-color: #FFFFFF;
	color: #000000;
	margin: 0 auto;
	padding: 10px;
}

#links {
	clear: both;
	margin: 0 auto;
	width: 730px;
	padding: 10px;
	background: #092E20 url(/static/img/linksbg.gif) repeat-x top left;
	color: #FFF;
}

#whiteline {
	margin-top: 10px;
	border-top: 3px solid #FFFFFF;
}

#footer {
	margin: 5px auto;
	width: 800px;
	padding: 0 5px 0 5px;
}

#footer p {
	padding-top: 10px;
	padding-bottom: 25px;
	line-height: 1.8em;
	color: #808080;
	background: #EEEEEE;
}

#footer a {
	color: #808080;
	background: inherit;
}

form.search { padding: 0; margin: 0; }

#searchform {
	background: #808080;
	color: #FFFFFF;
	padding: 5px 8px 5px 18px;
	margin: 0px;
}

input.text { margin: 0; padding: 0; width: 128px; border: 1px solid #eee; color: #000000; background: #d8d8d8; }
input.text:hover { border: 1px solid #FFFFFF; background: #EEEEEE; color: #000000; }
input.button { margin: 0; padding: 0 0 0 3px; font-size: 100%; font-family: Arial, Sans-Serif; border: none; background: none; color: #FFF; background: #808080; font-weight: bold; }
.date { margin: 5px 0 5px 0; padding: 10px 5px 5px 0; background: #FFFFFF url(horizontaldotted.gif) repeat-x bottom left; color: #808080; text-align: right; }
.date a { color: #808080; background: #FFFFFF; }
