<p style="float: left;">
  <a href="#">Archive</a>
  <img src="{{ STATIC_URL }}img/separator.gif" alt="" />
  <a href="#">RSS Feed</a>
  <br />
  <a href="http://jigsaw.w3.org/css-validator/check/referer">
    CSS
  </a>
  and
  <a href="http://validator.w3.org/check?uri=referer">
    XHTML
  </a>
  <img src="{{ STATIC_URL }}img/separator.gif" alt="" />
  <a href="#">
    Accessibility
  </a>
</p>
<p style="float: right; text-align: right;">
  <a href="#">
    Contact Us
  </a>
  <br />
  &copy; Copyright 2008-2011,
  <a href="/" title="pythontr">
    Python Programcıları
  </a>
  <img src="{{ STATIC_URL }}img/separator.gif" alt="" />
  Designed by <b>Web dizajn - WinStart</b>,
  visit my <a href="http://winstart.com/rs/" title="Web dizajn">
    Web dizajn - WinStart</a>
</p>
