{% load url from future %}

<a href="{% url 'blog:index_path' %}">Ana Sayfa</a>
<a href="{% url 'links:index_path' %}">Bağlantılar</a>
<a href="{% url 'links:new_link_path' %}">Yeni bağlantı ekleme formu</a>
<!--
<a href="/iletisim">İLETİŞİM</a>
<a href="/sitemap">SİTEMAP</a>
<a href="/visual-python-1">VISUAL PYTHON 1.x</a>
<a href="/visual-python-2">VISUAL PYTHON 2.x</a>
<a href="/python">PYTHON</a>
<a href="/pygtk">PYGTK</a>
<a href="/pythonqt_">PYQT</a>
<a href="/tkinterlib">TKINTER</a>
<a href="/wxpython">WXPYTHON</a>
<a href="/pyjamasdesktop">PYJAMASDESKTOP</a>
<a href="/ironpython">IRONPYTHON</a>
<a href="/jython">JYTHON</a>
<a href="/easygui">EASY GUI</a>
<a href="/pykde">PYKDE</a>
<a href="/django">DJANGO</a>
<a href="/pymatlab">PYMATLAB</a>
<a href="/pyopengl">PYOPENGL</a>
<a href="/pymyhdl">PY-MyHDL</a>
<a href="/mobil">PYTHON MOBIL</a>
<a href="/kodbankasi">PYTHON KOD BANKASI</a>
<a href="/python-kod-bankasi-liste">LİSTE</a>
<a href="/download">DOWNLOAD</a>
<a href="/yazilimmuhendisligi">YAZILIM MÜHENDİSLİĞİ</a>
<a href="http://pythontr.net/">PYTHON FORUM</a>
<a href="/blog">PYTHON GUNLUKLERİ</a>
<a href="/simplewiki">PYTHON WIKI</a>
<a href="/kitap">PYTHON KİTAP</a>
<a href="/pythontv">PYTHON TV</a>
<a href="/shell">PYTHON SHELL</a>
<a href="http://www.python.org/" target="_blank">>>>Python</a>
<a href="http://www.djangoproject.com/" target="_blank">>>>Django</a>
<a href="http://uzaktanegitimmerkezi.org/" target="_blank">>>>Uzaktan Eğitim</a>
<a href="http://visualpython.org/" target="_blank">>>>Visual Python</a>
<a href="http://electrocoder.blogspot.com/" target="_blank">>>>Şahin MERSİN</a>
<a href="http://trakyali.webfactional.com/" target="_blank">>>>Yigit SADİÇ</a>
<a href="http://www.erkankeskin.com.tr/" target="_blank">>>>Erkan KESKİN</a>
<a href="http://www.osmanfatsa.com/" target="_blank">>>>Osman FATSA</a>
<a href="http://mturkergultepe.com/" target="_blank">>>>M.Türker GÜLTEPE</a>
-->
