{% load humanize %}
{% load markup %}
{% load url from future %}

<!DOCTYPE html>
<html>
  <head>
    {% block include %}{% endblock %}
    <meta charset="utf-8">
    <meta name="google-site-verification"
	  content="euJj8OwKcNB1hAMqaI1EZXDkEjbN9aYaKXLroa9hBDE" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Content-Language" content="English" />
      <meta name="Distribution" content="Global" />
      <meta name="author" content="python programlama dili, python, indir" />
      <meta name="Robots" content="index,follow" />
      <meta name="Revisit-after" content="1 days" />
      <meta name="classification" content="python, programlama">
	<meta name="Copyright" content="2011" />
	<meta name="description"
	      content="Python Programcıları Derneği Django ve Python Programlama Dili
		       Türkçe Ders, Türkçe Kitap ve Online Eğitim Kurs" />
	<meta name="expires" content="never" />
	<meta name="rating" content="general" />
	<meta name="allow-search" content="yes" />
	<meta name="keywords"
	      content="python türkiye, Python, piton, PythonTR, python tr, phyton e-kitap, piython e-book, Python ders, python dersleri,
		       python türkçe, python nedir, python indir, piton download, python download, python tutorial,
		       phyton programlama, python kod bankası, os path belirtme, dizi sola yaslama,
		       python 2.7, masaüstü son hali kaydetme, ascii,
		       python 3.1, aptitude, python-tr, python_tr, aptana,
		       kitap, Django, Spyder, Django nedirTkinterlibYazilar, Site yapımı, py, *.py, pyton" />
	<link rel="Shortcut Icon" href="{{ STATIC_URL }}favicon.ico"></link>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://sexybuttons.googlecode.com/svn/trunk/sexybuttons.css" />
	<title>
	  {% block title %}{% endblock %}
	</title>
	<!--	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push([ '_setAccount', 'UA-21599522-1' ]);
	_gaq.push([ '_trackPageview' ]);
	  
	  (function() {
		var ga = document.createElement('script');
	  ga.type = 'text/javascript';
	  ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl'
	  : 'http://www')
	  + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	  })();</script>
	-->    
    
    <!-- Arquivos utilizados pelo jQuery lightBox plugin -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.lightbox-0.5.css" media="screen" />
    <!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->
    
    <!-- Ativando o jQuery lightBox plugin -->
    <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>
   	<style type="text/css">
	/* jQuery lightBox plugin - Gallery style */
	#gallery {
		background-color: #444;
		padding: 5px;
		width: 100px;
	}
	#gallery ul { list-style: none; }
	#gallery ul li { display: inline; }
	#gallery ul img {
		border: 5px solid #3e3e3e;
		border-width: 5px 5px 20px;
	}
	#gallery ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;
	}
	#gallery ul a:hover { color: #fff; }
	</style>
		
</head>
      
<body>
	<div id="header">
	  {% include 'header.html' %}


	  <div id="hmenu">
	    {% include 'links-bar.html' %}
	  </div></div>
	
	
	<div class="content">
	  <div id="articles">
	    <div id="right">
	      {% block content %}{% endblock %}
	      
<!--resimlerin lightbox icerisinde gosterilmesi-->
<!--	    <div id="gallery">-->
<!--<a href="{{ STATIC_URL }}img/500-1.png" title="bir nolu resim açiklamasi">-->
<!--                <img src="{{ STATIC_URL }}img/500-1.png" width="100" height="100" alt="" /></a></div>	      -->
	      
	    </div>

                
	    <!--
	    <div id="koloniki">
	      <div id="kolonikimenu">
		<a>Bu Alana En çok Okunan Makalelerin Listesi Yazılır.</a>
	      </div>
	    </div>
-->
	    
<div id="left">
  <div id="leftmenu">
    {% if request.user.is_authenticated %}
    
    Merhaba {{ request.user }}
    <a href="{% url 'users:profile_path' request.user %}">Profilim</a>
    <a href="{% url 'users:logout_path' %}">Çıkış</a>
    {% else %}
    Merhaba ziyaretçi
    <a href="{% url 'users:login_path' %}">Giriş</a>
    <a href="{% url 'users:signup_path' %}">Kayıt</a>
    {% endif %}
    <br />
    {% include 'left-links-bar.html' %}
    <!-- 
    <div id="searchform">
      <form method="post" class="search" action="">
	<p>
	  <input name="pojam" class="text" id="pojam" type="text" />
	  <input name="search" class="button" value="Search" type="submit" />
	</p>
      </form>
    </div>
    -->
  </div>
  
  <div class="leftarticle">
    <p>python programcıları derneği...</p>
  </div>

  
  <!--
  <div class="leftarticle_ad"><a href="http://pythontr.net">FORUM</a></div>
  <div class="leftarticle_ad"><a href="http://www.odev-destek.com">ODEV-DESTEK</a></div>
  -->
</div>
	  </div>

	  <div id="links">
	    <p><center>Python Programcıları Derneği</center></p>
	  </div>

	</div>
	<!--
	<div id="additional">
	  <p><b>Günün Sözü : </b>Bildiklerimin bir önemi yok. Önemli olan bilmediklerim...</p>
	</div>
	
	<div id="whiteline"></div>
	-->
	<footer>
	  {% include 'footer.html' %}
	</footer>

      </body>
    </html>
    
