{% load url from future %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <script>
      function prettyPrint(){
      /*
         Sorunun etrafından dolaşmak için oluşturuldu.
         Hiç bir iş yapmıyor.
         Google syntax highlighter include edildiğinde "gerçek" 
         prettyPrint() fonksiyonunu kullanıyor.
      */
      }
    </script>
    
    <title>{% block title %}{% endblock %}</title>
    {% block include %}{% endblock %}
  </head>
  <body onLoad="prettyPrint();">
    <header>
      <a href="{% url 'index_path' %}">Anasayfa</a>
      <hr />
    </header>
    <div id="main">
      {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
  </body>
</html>
